@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* 
::before,
::after{/*incluíran cualquier borde o relleno que se añadan, y la caja de contenido se encogerá para absorber ese ancho extra.*/
    box-sizing: border-box;
}

*{ /* reseteo CSS*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(126, 107, 144, 0.328);
    font-family: 'Roboto', sans-serif;
}

.App h1{
    text-align: center;
    margin: 1rem;
}